h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    color: rebeccapurple;
}

body{
    background-color:#F4A950;
    overflow-x: hidden;
  }

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/gg.png);
    background-size: cover;
    background-position: center
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: greenyellow;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: honeydew;
    transform: translateY(-50%);
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    font-size: 30px;
}


.courses{
    border-radius: 100%;
    height: 400px;
    width: 400px;
    float: left;

}
.swags{
    border-radius: 100%;
    height: 400px;
    width: 400px;
    float: right;
}
.internship{
    border-radius: 100%;
    height: 400px;
    width: 400px;
    float: left;

}
.defcourses{
    position: relative;
    top: 0px;
    
    left: 230px;
    
}
.defcourses h3{
    font-size: 50px;
    font-family: monospace;
    color: purple;
    position: relative;
    top: 100px;
    right: -20px;
}
.defcourses p{
    font-size: 25px;
    color: royalblue;
    position: relative;
    top: 100px;
    left: 20px;
    width: 70%;
}
.defswags{
    position: relative;
    top: 300px;
    right: 200px;
    
}
.defswags h3{
    position: relative;
    top: 120px;
    font-size: 50px;
    color: #9980FA;
    left: 130px;
}
.defswags p{
    position: relative;
    font-size: 25px;
    top: 130px;
    color: #000000;
    width: 70%;
    right: -140px;
}
.firstcontainerheader{
    position: relative;
    margin: 200px;
    right: -170px;
    
}
.firstcontainerheader h1{
    font-size: 110px;
    font-family:  monospace;
}
.firstcontainerheader h3{
    position: relative;
    margin-top: 50px;
    font-size: 28px;
    width: 94%;
    right: 120px;
    
    font-family:Times New Roman;

}
.defcarrer{
    position: relative;
    top: 600px;
    right: 200px;
}
.defcarrer h3{
    position: relative;
    top: 100px;
    font-size: 50px;
    left: 20px;
    color: purple;
}
.defcarrer p{
    position: relative;
    top: 100px;
    font-size: 25px;
    left: 20px;
    color: #ff5e57;
}
.vector{
    border-radius: 100%;
    height: 400px;
    width: 400px;
    position: relative;
    right: -300px;
    
}
.defintern{
    position: relative;
    top: 800px;
    right: -150px;
    width: 80%;
}
.defintern h3{
    font-size: 46px;
    position: relative;
    left: 150px;
    bottom: 300px;
    color: #353b48;
    
   
    
    
}
.defintern p{
    font-size: 25px;
    position: relative;
    left: 150px;
    width: 60%;
    bottom: 300px;
    color: #4834d4;
}
.secondcontent{
    background-color:#F8EFBA;
    position: relative;
    top: 800px;
    padding-bottom: 250px;
}
.firstcontentlastcontent{
    position: relative;
    top: 750px;
    left: 700px;
}
.firstcontentlastcontent{
    font-size: 30px;
    color: slateblue;
}
.video{
    position: relative;
    left: 400px;
    
}
.secondcontentheader{
    position: relative;
    width: 90%;
    right: -290px;
    
    margin-top: 100px;
    top: 100px;
    margin-bottom: 100px;
}
.secondcontentheader h1{
    margin-bottom: 20px;
    font-family: Goudy Old Style;
    position: relative;
    left: 60px;
}
.secondcontentheader h3{
    font-size: 25px;
    width: 67%;
    position: relative;
    left: 60px;
    font-family: Trebuchet MS;
    margin-bottom: 150px;
}
.discordlink{
    position: relative;
    margin-top: 200px;
    width: 70%;
    left: 340px;
}
.discordlink h2{
    font-size: 50px;
    position: relative;
    left: 290px;
}
.discordlink h4{
    font-size: 25px;
    width: 60%;
    position: relative;
    left: 180px;
}



.discotemplate{
    position: relative;
    top: 50px;
    right: -250px;
}

.last{
    background-color: whitesmoke;
    position: relative;
    top: 600px;
}
.contractus{
    position: relative;
    left: 550px;
    bottom: 370px;
}
.contractus h2{
    margin-bottom: 30px;
}


.contractus a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
    
    
}
.lwmadmin{
    position: relative;
    top: 20px;
}
.lwmmods{
    position: relative;
    top: 60px;
    right: 120px;
}
.getconnected{
    position: relative;
    left: 1100px;
    bottom: 465px;
}
.getconnected h2{
    margin-bottom: 30px;
}
.getconnected a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: auto;
}
.youtube{
    position: relative;
    left: 8px;
    bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.facebook{
    position: relative;
    top: 30px;
    right: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.linkedin{
    position: relative;
    top: 65px;
    right: 165px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
    position: relative;
    left: 700px;
    bottom: 60px;
    color: #a4b0be;
}